extends ../layout

block content

  .page-header
   .container
     
    h3 Learning preferences
  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
         label.col-sm-3.control-label What field would you like to consider for your career?
         .col-sm-9
           label.radio.col-sm-3
             input(type='radio', checked=user.profile.career=='web development', name='career', value='web development', data-toggle='radio')
             span Web Development
           label.radio.col-sm-3
             input(type='radio', checked=user.profile.career=='software development', name='career', value='software development', data-toggle='radio')
             span Software Development
           label.radio.col-sm-3
             input(type='radio', checked=user.profile.career=='web design', name='career', value='web design', data-toggle='radio')
             span Web Design
           label.radio.col-sm-3
              input(type='radio', checked=user.profile.career=='digital marketing', name='career', value='digital marketing', data-toggle='radio')
              span Digital Marketing
           label.radio.col-sm-3
              input(type='radio', checked=user.profile.career=='business foundation', name='career', value='business foundation', data-toggle='radio')
              span Business Foundation
           label.radio.col-sm-3
              input(type='radio', checked=user.profile.career=='entrepreneurship', name='career', value='entrepreneurship', data-toggle='radio')
              span Entrepreneurship
           label.radio.col-sm-3
              input(type='radio', checked=user.profile.career=='project management', name='career', value='project management', data-toggle='radio')
              span Project Management
        
    
      
      
    .form-group
       label.col-sm-3.control-label What kind of job are you looking for?
       .col-sm-9
         label.radio.col-sm-3
           input(type='radio', checked=user.profile.job=='Full', name='job', value='Full', data-toggle='radio')
           span Full Time 
         label.radio.col-sm-3
           input(type='radio', checked=user.profile.job=='Part', name='job', value='Part', data-toggle='radio')
           span Part Time
         label.radio.col-sm-3
            input(type='radio', checked=user.profile.job=='Internship', name='job', value='Internship', data-toggle='radio')
            span Internship
         label.radio.col-sm-3
             input(type='radio', checked=user.profile.job=='Free', name='job', value='Free', data-toggle='radio')
             span Free lance
         
    
    .form-group
       label.col-sm-3.control-label Do you need help in career development?
       .col-sm-9
         label.radio.col-sm-6
           input(type='radio', checked=user.profile.development=='Yes', name='development', value='Yes', data-toggle='radio')
           span Yes 
         label.radio.col-sm-6
           input(type='radio', checked=user.profile.development=='No', name='development', value='No', data-toggle='radio')
           span No
         l
      
      
    .form-group
         label.col-sm-3.control-label How many hours can you spend to learn every week?
         .col-sm-9
           label.radio.col-sm-3
             input(type='radio', checked=user.profile.hours=='five', name='hours', value='five', data-toggle='radio')
             span 0-5 hours
           label.radio.col-sm-3
             input(type='radio', checked=user.profile.hours=='ten', name='hours', value='ten', data-toggle='radio')
             span 5-10 hours 
           label.radio.col-sm-3
             input(type='radio', checked=user.profile.hours=='twenty', name='hours', value='twenty', data-toggle='radio')
             span 10-20 hours
           label.radio.col-sm-3
              input(type='radio', checked=user.profile.hours=='more', name='hours', value='more', data-toggle='radio')
              span 20+ hours
              

    .page-header
     .container
     
      h3 Profile Information


    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value=user.email)
    .form-group
      label.col-sm-3.control-label(for='fname') First Name
      .col-sm-7
        input.form-control(type='text', name='fname', id='fname', value=user.fname)
    .form-group
      label.col-sm-3.control-label(for='lname') Last Name
      .col-sm-7
        input.form-control(type='text', name='lname', id='lname', value=user.lname)
    br    
    .form-group
      label.col-sm-3.control-label(for='address') Address
      .col-sm-7
        input.form-control(type='text', name='address', id='address', value=user.address)
    .form-group
      label.col-sm-3.control-label(for='city') City
      .col-sm-7
         input.form-control(type='text', name='city', id='city', value=user.city)
    br
    .form-group
      label.col-sm-3.control-label Gravatar
      .col-sm-4
        img(src=user.gravatar(), class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
   .container
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password
    

  .page-header
   .container
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account

  .page-header
   .container
    h3 Linked Accounts
  .form-horizontal
    .form-group
      .col-sm-offset-3.col-sm-4
        if user.google
          p: a.text-danger(href='/account/unlink/google') Unlink your Google account
        else
          p: a(href='/auth/google') Link your Google account
      .col-sm-offset-3.col-sm-4
        if user.facebook
          p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
        else
          p: a(href='/auth/facebook') Link your Facebook account
        if user.linkedin
          p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
        else
          p: a(href='/auth/linkedin') Link your LinkedIn account
    hr
